@tailwind base;
@tailwind components;
@tailwind utilities;
.bubble {
  position: absolute;
  bottom: -150px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: floatUp 20s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
